<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<base href="{{ config.baseURL }}">
	<title>
		{{- content.metas.title -}}
		{%- if not content.isHome %}
		–
		{{  content.font.family }}
		{{ content.font.name | capitalize }}
		{% endif -%}
	</title>
	<meta name="description" content="{{ content.metas.description }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimal-ui">
	<style>
		@font-face {
			font-family: 'insitu light';
			src: url('fonts/insitu_light-webfont.woff2') format('woff2'),
				url('fonts/insitu_light-webfont.woff') format('woff');
			font-weight: normal;
			font-style: normal;
	</style>
	<style>
		{{- config.style -}}
	</style>
	{% if not config.development -%}
	<link rel="stylesheet" href="{{ config.paths.assets ~ '/css/bundle.css' }}">
	{%- endif %}
</head>
<body {% if content.isHome %}class="home"{% endif %}>

	<header>
		<figure class="header-picture">
			<img src="images/bretagne.jpg">
		</figure>
		<section class="header-about">
			<a href="{{ config.baseURL }}" data-route>
				{{- content.card.title -}}
			</a>
		</section>
		<section class="header-author">
			<p class="author-infos">
				{{- content.card.message -}}
			</p>
			<p class="author-contacts">
				<a href="mailto:{{ content.card.email }}?subject=Bretagne • Contact">
					{{- content.card.email -}}
				</a>
				<br>
				<a href="tel:+33683131378">
					{{- content.card.tel -}}
				</a>
			</p>
		</section>
	</header>

	<main>
	{{ font | dump }}
		<section class="menu">
			<nav class="menu-fonts">
				<ul>
					{% include "fontsList.njk" %}
				</ul>
			</nav>
			<aside class="menu-controller">
				<div class="controller-resizer">
					<button class="resizer-button button-decrease">-</button>
					<span class="resizer-value">48pt</span>
					<button class="resizer-button button-increase">+</button>
				</div>
				<div class="controller-sound">
					<button class="sound-button">Sound Off</button>
				</div>
			</aside>
		</section>

		<section
			class="visualizer"
			autocomplete="off"
			autocorrect="off"
			autocapitalize="off"
			spellcheck="false"
			{% if not content.isHome %}style="font-family:'{{content.font.slug}}'"{% endif %}
			contenteditable
		>
			{{- content.sample -}}
		</section>
	</main>

	<script src="{{ config.paths.assets ~ '/js/bundle.js' }}"></script>
</body>
</html>
