{% for family in config.fonts %}

	{%- if family.name === content.font.family -%}
		{%- set currentFamily = true -%}
	{%- else -%}
		{%- set currentFamily = false -%}
	{%- endif -%}

	{%- if currentFamily -%}
		{%- set familyClass = "active" -%}
	{%- else -%}
		{%- set familyClass = "" -%}
	{%- endif -%}

	<li class="{{ familyClass }}" data-family="{{ family.name }}">
	<div class="family-infos">
		<div class="infos-index">
			{% if loop.index < 10 %}0{% endif -%}
			{{- loop.index }}.
		</div>
		<div class="infos-family">
		{%- for font in family.fonts -%}
			{%- if currentFamily and font.name === content.font.name -%}
				{%- set fontClass = "active" -%}
			{%- else -%}
				{%- set fontClass = "" -%}
			{%- endif -%}

			{%- if loop.first -%}

				<a href="font/{{ font.slug }}" class="link-family" data-route>{{ family.name }}</a>

				{%- if loop.length > 1 -%}
				,
				{% if not family.noBr -%}<br>{%- endif -%}
				<a href="font/{{ font.slug }}" class="link-font {{ fontClass }}" data-route data-slug="{{ font.slug }}">{{ font.name }}</a>
				{%- endif -%}
			{%- else -%}
				{%- if loop.last %} &&nbsp;{%- else -%}, {% endif -%}
				<a href="font/{{ font.slug }}" class="font {{ fontClass }}" data-route data-slug="{{ font.slug }}">{{ font.name }}</a>
			{%- endif -%}
		{%- endfor -%}
		</div>
	</div>
	<p class="family-description">
		{{ family.description }}
	</p>
	</li>
{%- endfor %}
