{% for family in config.fonts %}
	<li>
	{%- for font in family.fonts %}
		{% if loop.first -%}

			<a href="font/{{ font.slug }}" data-route>{{ family.name }}</a>

			{%- if loop.length > 1 -%}
			,
			<br><a href="font/{{ font.slug }}" class="font" data-route>{{ font.name }}</a>
			{%- endif -%}

		{%- else -%}

			&&nbsp;<a href="font/{{ font.slug }}" class="font" data-route>{{ font.name }}</a>

		{%- endif %}
	{%- endfor %}
	</li>
{%- endfor %}
