@font-face {
    font-family: "bretagne_self-modern_text_trial-A";
    src: url("bretagne_self-modern_text_trial-A.eot");
    src: url("bretagne_self-modern_text_trial-A.eot?#iefix") format("embedded-opentype"),
         url("bretagne_self-modern_text_trial-A.woff2") format("woff2"),
         url("bretagne_self-modern_text_trial-A.woff") format("woff"),
         url("bretagne_self-modern_text_trial-A.ttf") format("ttf"),
         url("bretagne_self-modern_text_trial-A.svg#bretagne_self-modern_text_trial-A") format("svg");
    font-style: normal;
    font-weight: 300;
}