@font-face {
    font-family: "RésidenceTrial-A";
    src: url("RésidenceTrial-A.eot");
    src: url("RésidenceTrial-A.eot?#iefix") format("embedded-opentype"),
         url("RésidenceTrial-A.woff2") format("woff2"),
         url("RésidenceTrial-A.woff") format("woff"),
         url("RésidenceTrial-A.ttf") format("ttf"),
         url("RésidenceTrial-A.svg#RésidenceTrial-A") format("svg");
    font-style: normal;
    font-weight: 300;
}