@font-face {
    font-family: "self_modern_italic_trial-A";
    src: url("self_modern_italic_trial-A.eot");
    src: url("self_modern_italic_trial-A.eot?#iefix") format("embedded-opentype"),
         url("self_modern_italic_trial-A.woff2") format("woff2"),
         url("self_modern_italic_trial-A.woff") format("woff"),
         url("self_modern_italic_trial-A.ttf") format("ttf"),
         url("self_modern_italic_trial-A.svg#self_modern_italic_trial-A") format("svg");
    font-style: normal;
    font-weight: 300;
}