@font-face {
    font-family: "sporting_grotesque-A";
    src: url("sporting_grotesque-A.eot");
    src: url("sporting_grotesque-A.eot?#iefix") format("embedded-opentype"),
         url("sporting_grotesque-A.woff2") format("woff2"),
         url("sporting_grotesque-A.woff") format("woff"),
         url("sporting_grotesque-A.ttf") format("ttf"),
         url("sporting_grotesque-A.svg#sporting_grotesque-A") format("svg");
    font-style: normal;
    font-weight: 300;
}